/* Basic DOM Elements Styling */

* {
    font-family: 'Quattrocento Sans', sans-serif;
}

h1 {
	font-family: 'Quattrocento Sans', sans-serif;
	font-size: 50px;
	line-height: 60px;
	font-weight: 300;
}

h2 {
	font-size: 24px;
	color: #4A4A4A;
	line-height: 29px;
}

h3 {
	font-size: 18px;
	font-weight: bold;
	color: #4A4A4A;
	line-height: 23px;
}

p {
 	font-size: 14px;
 	line-height: 24px;
 }

input[type="text"] {
	border-bottom: solid black;
	margin-bottom: 20px;
}

footer {
	position: relative;
	bottom: 0;
	font-size: .8em;
	text-align: center;
  }

/*CSS Classes */

.padding-top {
	padding-top: 30px;
}

.padding-bottom {
	padding-bottom: 10px;
}

.margin-right {
	margin-right: 30px;
}

.padding-none {
	padding: 0;
}

/*Heading and Banner */

.top-menu {
	padding-top: 30px;
	padding-bottom: 30px;
}

.top-menu p {
	margin-bottom: 0;
	line-height: 16px;
}
.top-menu a {
	margin-bottom: 0;
	line-height: 16px;
	font-size: 16px;
	color: #7B7573;
	font-weight: 400;
}

.banner.menu {
	height: 150px;
	background-color: #E1E17F;
}

.banner.profile {
	height: 150px;
	background-color: #A6E8EB;
}

.banner.main {
	height: 150px;
	background: url('/static/furniture.jpg');
	background-position: right;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	opacity: 0.8;
	margin-bottom: 10px;

}

.banner.main h1 {
	margin: 45px 0;
	padding: 45px;
	color: white;
	font-weight: 400;
	text-shadow: 2px 2px black;
	text-transform: uppercase;
	opacity: 1;
}

.loginprofile {
	width: 150px; 
	height: 150px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
}

.smallprofilepic {
	width: 30px;
	height: 30px;
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	margin-bottom: 10px;
}

.login-area {
	text-align:right;
	width: 100%;
	display:block;
}

/*Buttons*/

.btn {
	margin-right: 5px;
}

.btn:hover {
	border-color: #aaaaaa;
}
.btn.delete {
	border-color: #aaaaaa;
	color: #aaaaaa;
}
.btn.delete:hover {
	border-color: #aaaaaa;
	color: red;
}

.modify-buttons {
	display: block;
	margin: 5px;
	margin-bottom: 10px;
	z-index: 2;
	position: relative;
}

/* Category Items */

 .item-list {
 	background-color: #FFF;
	 padding: 20px;
	 margin-bottom: 20px;
}

.menu-item {
	background: #F0F0F0;
	padding: 20px;
	margin: 20px;
	margin-left: -20px;
}
.menu-price {
	font-weight: 700;
}
.creator {
	padding-right: 20px;
	margin-top: -20px;
	text-align: right;
	float:right;
}

.text-center {
	text-align: center;
}

.creator img {
	width: 100px;
	border-radius: 50%;
}
.creator figcaption {
	font-size: 14px;
	color: #7B7573;
	font-weight: 400;
	margin-top: -20px;
}

.item-photo {
	width: 50%;
	margin: 80px auto 20px auto;
	height: auto;
}

.item-description {
	white-space: normal;
	
}

/* Flash Messages */
.flash {
	background-color: greenyellow;
	width:100%;
	text-decoration: none;
}

.flash li {
	list-style-type: none;
	text-align: center;

}

/* Categories */
.category-section {
	margin-bottom: 30px;
	-webkit-overflow-scrolling: touch;
	display: flex;
	flex-wrap: nowrap;
	overflow-x:auto;
}

.card {
	width: 300px;
	margin: 0 10px 0 10px;
	flex: 0 0 auto;

	transition: transform .5s;
}

.card::after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: opacity 2s cubic-bezier(0.165, 0.84, 0.44, 1);
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
	content: '';
	opacity: 0;
	z-index: -1;
  }
  .card:hover, .card:focus {
	transform: scale3d(1.006, 1.006, 1);
  }
  .card:hover::after, .card__one:focus::after {
	opacity: 1;
  }
  
.card-footer {
	  margin-top: auto;
	  min-height: 100px;
	}
