{% extends "main.html" %}
{% block content %}
<div class="container">
{% for category in categories %}
	<h2 class="text-center">{{category.name}}</h2>

		<div class="category-section">
			{% for item in items %}
				{% if item.category_id == category.id : %}
					<div class="card card-block text-center">
					<img src="static/images/{{item.picture}}" alt='{{item.name}}' class='card-img-top item-photo' >
					<div class="card-img-overlay">
						<h3>{{item.name}}</h3>
						<p class="item-price">${{item.price}}</p>
					</div>
					
					<div class="card-footer bg-dark text-white">
						<p>{{item.description}}</p>

						{% if item.user.username  == login : %}
						<div class="modify-buttons">
						<a href="{{ url_for('deleteItem', item_id = item.id) }}" class="btn btn-primary">Remove</a>
						<a href="{{ url_for('editItem', item_id = item.id) }} " class="btn btn-primary">Edit</a>
						</div>
						{% else %}
						<div class="creator padding-top">
							<img src="{{item.user.picture}}" alt="{{item.user.username}}" >
							<figcaption>This item's creator is {{item.user.username}}.</figcaption>
						</div>
	
						{% endif %}
					
					</div>

			
				
					</div>

				
					
					
				{% endif %}
				
			{% endfor %}
			</div>

			<hr />
	{% endfor %}
</div>
{% endblock %}
