{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

	<div class="row padding-top padding-bottom">
		<div class="col-md-1"></div>
		<div class="col-md-10 padding-none">
				<a href="{{url_for('newCategory')}}">
						<button class="btn btn-default" id="new-restaurant">
							<span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>Add Category
						</button>
					</a>
			<a href="{{url_for('newItem')}}">
				<button class="btn btn-default" id="new-restaurant">
					<span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>Add Item
				</button>
			</a>
		</div>
		<div class="col-md-1"></div>
	</div>
	{% for category in categories %}
	<h2>{{category.name}}</h2>
	{% for item in items %}
		{% if item.category_id == category.id : %}
			<div class="row">
				<div class="col-md-1"></div>
					<div class="col-md-10 item-list">
						<h3>{{item.name}}</h3>
						<img src="static/images/{{item.picture}}" alt='{{item.name}}' class='item-photo' >
						<p class="item_description">{{item.description}}</p>
						<p class="item-price">${{item.price}}</p>
						<div class="modify-buttons">
						<a href="{{url_for('deleteItem', item_id = item.id)}}">Remove</a>
						<a href="{{url_for('editItem', item_id = item.id)}}">Edit</a>
						</div>

					</div>
				<div class="col-md-1"></div>
			</div>
		
		{% endif %}
	{% endfor %}
	{% endfor %}
{% endblock %}
