{% extends "main.html" %}
{% block content %}
<div class="container">
<h2 class="text-center">Furniture Category Information</h2>
<div class="row padding-bottom">
    <div class='col text-center'>
        <a href="{{url_for('newCategory')}}"><button class="btn btn-primary text-white">Add Category</button></a>
    </div>
    <hr />
</div>
<div class="category-section">
    {% for category in categories %}
    <div class="card padding-top padding-bottom">
    <h2 class="text-center">{{category.name}}</h2>
    <div class="modify-buttons center-items">
            <a href="{{url_for('deleteCategory', category_id = category.id)}}"><button class="btn btn-primary text-white">Remove</button></a>
            <a href="{{url_for('editCategory', category_id = category.id)}}"><button class="btn btn-primary text-white">Edit</button></a>
    </div>
</div>
    {% endfor %}
</div>
</div>
{% endblock %}