{% extends "main.html" %}
{% block content %}
<h2 class="text-center"> Are you sure you want to delete <em>{{category.name}}</em>? </h2>
<div class="center-items">
<form action="{{ url_for('deleteCategory',category_id = category.id)}}" method = 'post' enctype= "multipart/form-data">
	<div class="center-items padding-bottom">
		<button type="submit" class="btn btn-primary" id="submit" type="submit">Delete</button>
	</div>
</form>
</div>
<div class="center-items">
<a href = "{{url_for('showCatalog')}}" class="btn btn-primary">Cancel</a>
</div>

{% endblock %}