
<div class="banner main">		
		<h1>Top Furniture Catalog</h1>
</div>
<div class="row login-area">
				{% if user_id %}
					<p class='padding-bottom'>
						<img class='smallprofilepic' src="{{photo}}" alt="profile picture" />
						Logged in as {{login}}</p>
					<p><a href="{{url_for('logout')}}">Log Out</a></p>
				{% else %}
					<p><a href="{{url_for('showLogin')}}">Login</a></p>	
			{% endif %}
</div>

<div class="btn-group padding-bottom">
		<a href="{{url_for('showCategories')}}">
				<button class="btn btn-primary" id="new-category">
					<span aria-hidden="true"></span>Category Information
				</button>
		</a>
		<a href="{{url_for('newItem')}}">
				<button class="btn btn-primary" id="new-item">
					<span aria-hidden="true"></span>Add Item
				</button>
		</a>
</div>

<div class = 'flash'>
		  {% with messages = get_flashed_messages() %}
  {% if messages %}
	  
	<ul>
	{% for message in messages %}
		<li> <strong> {{ message }} </strong> </li>
	{% endfor %}
	</ul>
	{% endif %}
{% endwith %}

</div>