{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	{% for category in categories %}
	<h2>{{category.name}}</h2>
	<div class="scrolling-wrapper">
	{% for item in items %}
		{% if item.category_id == category.id : %}
			<div class="row card">
					<div class="item-list">
						<h3>{{item.name}}</h3>
						<img src="static/images/{{item.picture}}" alt='{{item.name}}' class='item-photo' >
						<p class="item_description">{{item.description}}</p>
						<p class="item-price">${{item.price}}</p>
					</div>
			</div>
		
		{% endif %}
	{% endfor %}
	</div>
	{% endfor %}
{% endblock %}
